Python==3.10.5
requests
bs4
streamlit
numpy
Pillow
flask
bokeh
streamlit_option_menu 
pyrebase
pandas
openai
streamlit_chat
cvzone
pip 22.2.2
mediapipe==0.8.10.1
os
opencv-python-headless
keras~=2.6.0
tensorflow~=2.6.0
